---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>M. Reza Ananta Portfolio</h2>
  <span>Frosty</span>
</BaseLayout>
