---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2 class="text-teal-400 text-base">Hi, my name is</h2>
  <h2 class="text-white font-bold text-5xl">M. Reza Ananta.</h2>
  <h2 class="text-white font-bold text-5xl">I'm a Full Stack Web Developer.</h2>
  <span>Programming Language :</span>
  <ul>
    <li>Javascript</li>
    <li>Python</li>
  </ul>
  <span>Framework :</span>
  <ul>
    <li>Node.js</li>
    <li>Discord.js</li>
    <li>Django</li>
    <li>Astro</li>
  </ul>
  <h2>About Me</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus error non, odio ducimus vitae excepturi! Nobis dignissimos voluptatibus exercitationem ea quo praesentium, ipsa sint similique dolorem delectus libero, nesciunt rem?</p>

  <h2>Work Experience</h2>
  <h2>Project</h2>
  <h2>Blog</h2>
</BaseLayout>
